.container{
  max-width: none !important;
  max-haight:  none !important;
  margin-top: 20px;
  width: 600px;
  height: 268px;
 
}
#header{
  margin-top:50px;
  margin-bottom:10px;
  border-style: solid;
}
#main{
  margin-top:10px;
  margin-bottom:10px;
  border-style: solid;
  
}
#footer{
  margin-top:10px;
  margin-bottom:10px;
  border-style: solid;
}
#Button{
   -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 50%;
}

.col-xs-2{
  max-width: none !important;
  max-haight:  none !important;
  width: 200px;
  height: 150px;
 
}
.col-xs-3{
  max-width: none !important;
  max-haight:  none !important;
  width: 100px;
  height: 150px;
  font-size:40px;
  text-align:center;
  padding-top:50px;
}
.col-xs-8{
  max-width: none !important;
  max-haight:  none !important;
  
  width: 285px;
  height: 150px;
  font-size:25px;
  text-align:center;
    
}
.col-xs-7{
  
}
#iconDisplay{
  text-align:center;
  padding-top:30px;
}

i{
  font-size:85px;
}
  
#footerZip{
  padding-top:20px;
}