.container{
  max-width: none !important;
  max-haight:  none !important;
  margin-top: 20px;
  width: 600px;
  height: 268px;
 
}
#header{
  margin-top:50px;
  margin-bottom:10px;
  border-style: solid;
}
#main{
  margin-top:10px;
  margin-bottom:10px;
  border-style: solid;
  
}
#footer{
  margin-top:10px;
  margin-bottom:10px;
  border-style: solid;
}


.col-xs-2{
  max-width: none !important;
  max-haight:  none !important;
  width: 200px;
  height: 150px;
 
}
.col-xs-3{
  max-width: none !important;
  max-haight:  none !important;
  width: 100px;
  height: 150px;
  font-size:40px;
  text-align:center;
  padding-top:15px;
}
.col-xs-8{
  max-width: none !important;
  max-haight:  none !important;
  
  width: 285px;
  height: 150px;
  font-size:25px;
  text-align:center;
    
}
.col-xs-7{
  
}
#iconDisplay{
  text-align:center;
  padding-top:30px;
}

i{
  font-size:85px;
}
  
#footerZip{
  padding-top:20px;
}

#Button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 3px;
  text-decoration: none;
  width:120%;
}

.#Button:hover {
  background: #f0f0f0;
  text-decoration: none;
}





