<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<title>Cindys Eat's</title>


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="style.css">

		<script src="app.js"></script>

	</head>


	<body>

		<div class="container">
			<div id="header" class="row">
				<div id="title" class="col-sm-6">
					<h1>Cindys eats</h1>
					<h3> Hub for food escapades</h3>
				</div>
				<div  class="col-xs-6">
					<img id="logo" class="img-responsive" src="public/background.jpg">	
				</div>
				
			</div>

			<div id="body" class="row">
				<div class="col-sm-12">
					<div ng-app="myApp" ng-controller="myCtrl">
						<table class="table">
					        <thead>
					          <tr>
					            <th>Restaurant Name</th>
					            <th>Link</th>
					            
					          </tr>
					        </thead>
					        <tbody>
					          <tr>
					            <td><input class="form-control" ng-model="restaurant.name"></td>
					            <td><input class="form-control" ng-model="restaurant.link"></td>
					            <td><button class="btn btn-primary" ng-click="addRestaurant()">Add Restaurant</button></td>
					            
					          </tr>
					          <tr ng-repeat="restaurant in Restaurantlist">
					            <td>{{restaurant.name}}</td>
					            <td><a ng-href="/{{restaurant.link}}">Visit link</a></td>

					            <td><button class="btn btn-danger" ng-click="remove(restaurant._id)">Remove</button></td>
					            <
					          </tr>
					         
					        </tbody>
	      				</table>
					</div>
					
				</div>
				
			</div>

			<div id="footer" class="row">
				<div class="col-sm-12">Happy NOMS
					
				</div>
				
			</div>
			
		</div>


	</body>

</html>