.container{
  margin-top:50px;
  border-style: solid;
  max-width: 80%;
}
.col-lg-12{
   border-style: solid;
   padding: 20px;
 }
.title{
   font-size: 250%;
}

input,select,button {
   height: 32px;
   border-radius: 5px;
 }

#SearchBar input[type="text"] {
	float: center;
    width: 50%;
}

#SearchBar input[type="submit"] {
	float: center;
    width: 15%;
    margin-left: 10px;
}
#SearchBar select[id="SearchNumber"] {
	float: left;
	width: 5%;
	margin-right: 10px;

}
#SearchBar button[id="RandomArticle"] {
	float: center;
    width: 15%;
}