body{
	background-color:#f1edf8;
}
 
/* Button visual style for channels  filter buttons */

.btn{
	border-radius: 0px;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #e3dbf0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.btn:hover{
	background-color:#b8a3db;
}

/* Button visual style for watch video buttons */
.channel_Button{
	 
  border:none;
  box-shadow:none;
  text-shadow:none;
  height:100px;
  width:100px;
	background-color: #e3dbf0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
.channel_Button:hover{
	background-color:#b8a3db;
}

.control_buttons{
	border:none;
  	box-shadow:none;
  	text-shadow:none;
  	background-color: black;
  	color: white;
  	font-family: 'Open Sans', sans-serif;

}
.control_buttons:hover{
	color: yellow;

}
#Off_Video_Button{
	float:right;
}

html, body, .container-fluid{
   height:100%;
}
p {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.container-flex{
	
	background-color: white;
	height: 20%;
	
}
.logo{
	background-color: white;
	padding-top: 5%;
	padding-bottom: 5%;

	
}
#video_controls{
	background-color: black;
	z-index:3;
	 

	
}
#Cinema_Mode ,#Off_Video_Button {
	margin-bottom: 0%;
	margin-top: 0%;

	


}

.video-container {
	margin: 10px;
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    background-color: black;
    
}
iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:2;
     
}


.navigation{
	background-color: #6441A5;
	padding-top: 30px;
	padding-bottom: 30px; 
	padding-right: 10%;
	padding-left: 10%;
}
.content{
	background-color: #b8a3db;
	padding-right: 10%;
	padding-left: 10%;
	 
}



.channel-div{

	margin: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: white;
	border-radius: 0px;

}
.col-xs-4{
	text-align: center;
}

#video_stream{
	text-align: center;
	margin: 0px;
}

#Lights_Off {
	background:#000;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
}
 
 


.wrapper {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
}

