body{
	background-color: gray;
}

h1{
	text-align: center;
}

.container-flex{
	border-style: solid;
	background-color: white;
	margin-top: 20px;
}
.Results-channel{
	margin: 5px;
	background-color: gray;
}

#Nav_Buttons{
	border-style: solid;
}


#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
}