body{
	background-color: white;
}



.container-flex{
	
	background-color: white;
	margin-top: 20px;
}

.nav-btn{
	margin: 10px; 
}
.content{
	margin: 10px;
}

.channel-div{

	margin: 10px;
	background-color: #e3dbf0;
}
.col-xs-4{
	text-align: center;
}

#test{
	text-align: center;
}


 
 


.wrapper {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
}

input[name="C4"] { 
	margin: 5px;
	background-color: gray;

}